@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(open-sans/OpenSans-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(open-sans/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(open-sans/OpenSans-Bold.ttf) format('ttf');
}