.dis_image_wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.dis_image_wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.img-circle{
    min-height: 134px;
    max-height: 460px;
}

.text-wrapper{
    margin-top: 4em;
}

@media only screen and (max-width: 770px){
    .dis_image_wrapper img.img-circle{
        min-height: 270px;
        max-height: 380px;
    }
    .dis_image_wrapper img{
        min-height: 190px;
        max-height: 380px;
    }
}

@media only screen and (max-width: 990px) {
    .text-wrapper{
        margin-top: 7em;
    }
}

@media only screen and (min-width: 770px) and (max-width: 990px){
    .view-display-id-directorio_diseno_buscador .dis_image_wrapper img {
         min-height: 234px;
         max-height: 234px;
    }

    .view-display-id-directorio_diseno_ficha_profesional .dis_image_wrapper img {
         min-height: 460px;
         max-height: 460px;
    }
    .view-display-id-directorio_diseno_otros_profesionales .dis_image_wrapper img{
         min-height: 220px;
         max-height: 220px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px){
    .view-display-id-directorio_diseno_buscador .dis_image_wrapper img {
         min-height: 210px;
         max-height: 210px;
    }
    .view-display-id-directorio_diseno_buscador .caption{
        margin-top: 1em;
    }

    .view-display-id-directorio_diseno_ficha_profesional .text-wrapper, .view-display-id-directorio_diseno_otros_profesionales .text-wrapper{
        margin-top: 4em;
    }

    .view-display-id-directorio_diseno_ficha_profesional .dis_image_wrapper img{
         min-height: 134px;
         max-height: 134px;
    }

    .view-display-id-directorio_diseno_otros_profesionales .dis_image_wrapper img{
         min-height: 183px;
         max-height: 183px;
    }
}

@media only screen and (min-width: 1200px){
    .view-display-id-directorio_diseno_buscador .dis_image_wrapper img {
         min-height: 234px;
         max-height: 234px;
    }

    .view-display-id-directorio_diseno_ficha_profesional .dis_image_wrapper img{
         min-height: 150px;
    }
    .view-display-id-directorio_diseno_otros_profesionales .dis_image_wrapper img{
         min-height: 230px;
    }
}