.tarjetas {
    background-color: #e5e5e5 !important;
    padding: 50px;
    margin-bottom: 30px !important;
}

.row {
    margin-right: auto !important;
    margin-left: auto !important;
}

.img-card {
    width: 96%;
    margin: 2% !important;
}

.card-chica {
    height: 500px !important;
}

.card-grande {
   height: 700px !important;
}

.thumbnail {
    padding: 0 !important;
    cursor: pointer;
}

.caption {
    padding: 15px !important;
}


@media only screen and (max-width: 768px) {
 
 .tarjetas {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
   padding-bottom: 40px;
   
}

}

@media only screen and (max-width: 425px) {
  .tarjetas {
    padding: 30px 10px;
}

}