.panel-col-top {
	margin: 0;
	padding-top: 0;
}
.panel-col-top, .panel-col-middle, .panel-col-bottom {
	margin: 0;
	padding-top: 0;
	width: 100%;
}
.panel-col-middle-bottom-left, .panel-col-middle-bottom-center, .panel-col-middle-bottom-right {
	margin: 0;
	padding-top: 0;
	width: 33%;
	float: left;
}

.panel-col-bottom {
	margin: 0;
	padding-top: 0;
}