.panel-col-top {
	margin: 0;
	padding-top: 0;
}
.panel-col-top, .panel-col-middle, .panel-col-bottom {
	margin: 0;
	padding-top: 0;
	width: 100%;
}
.panel-col-middle-bottom-left, .panel-col-middle-bottom-center, .panel-col-middle-bottom-right {
	margin: 0;
	padding-top: 0;
	width: 33%;
	float: left;
}

.panel-col-bottom {
	margin: 0;
	padding-top: 0;
}
.main-container {
  padding-top: 48px;
  padding-bottom: 96px; }
  
@media (max-width: 560px) {
  .col-md-4 .list-group-panel .list-thumb > div,
  .col-md-3 .list-group-panel .list-thumb > div,
  .col-md-2 .list-group-panel .list-thumb > div,
  .col-md-1 .list-group-panel .list-thumb > div {
    width: 100%;
    float: none;
    margin-bottom: 20px; } }
@media (min-width: 992px) {
  .col-md-4 .list-group-panel .list-thumb > div,
  .col-md-3 .list-group-panel .list-thumb > div,
  .col-md-2 .list-group-panel .list-thumb > div,
  .col-md-1 .list-group-panel .list-thumb > div {
    width: 100%;
    float: none;
    margin-bottom: 20px; }

  .col-md-4 .list-group-panel-body .list-group-item:last-child {
    padding-bottom: 90px;
    border-bottom: 0; } }
    
    /* special panel form */
.list-form {
  background: #e5e5e5 !important; }

.list-group form {
  margin-top: 10px;
  margin-bottom: 10px; }

/* special list multi */
.list-group-multi .list-img > div,
.list-group-multi .list-thumb > div {
  width: 100%;
  height: 144px;
  margin-bottom: 24px;
  float: none; }

.list-group-multi .col-sm-3,
.list-group-multi .col-sm-4,
.list-group-multi .col-sm-6 {
  padding-left: 0;
  padding-right: 0; }

  /* Font Config */
body, .label, .list-group, .list-group p, .list-group-item-text, .shortcut p, .alert-link p,
blockquote p, .list-group blockquote p, .jumbotron p, .lead {
  font-family: "OpenSans", Helvetica, Arial, sans-serif; }

b, p strong, span strong, thead > tr > th, .progress-bar, label, dt, .h6, h6 {
  font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
  font-weight: normal; }

h4, .h4, h5, .h5, .panel-title, .btn, .input-xl, .navbar-brand {
  font-family: "Gotham", Helvetica, Arial, sans-serif;
  letter-spacing: -0.5px; }

h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Gotham", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.5px; }