.dis_image_wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.dis_image_wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.caption{
    margin-top: 60px;
}

#boton_buscar i{
    margin-left: 5px;
}

@media only screen and (max-width: 770px){
    .dis_image_wrapper img{
        max-height: 120% !important;
    }
}
@media only screen and (min-width: 770px){
    .view-display-id-paseadores_relacionados .dis_image_wrapper img{
        min-height: 278px;
        max-height: 278px;
    }
}

@media only screen and (min-width: 770px) and (max-width: 990px){
    .view-display-id-paseadores_buscador .dis_image_wrapper img{
        min-height: 265px;
        max-height: 265px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px){
    .caption {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 1200px){
    .view-display-id-paseadores_buscador .dis_image_wrapper img{
        min-height: 278px;
    }
}