.pane-node-body{
  margin-bottom: 30px;
}

/*NOTICIAS*/


/*Estilos para acomodar las sugerencias luego de noticias*/
.row-fluid {
  width: 100%;
}
.row-fluid .offset1:first-child {
  margin-left: 0;
}
.row-fluid .span2 {
  width: 17.8%;
  display: block;
  float: left;
  margin-left: 2.564102564102564%;
  /*height:auto;*/
  box-sizing: border-box;
  min-height: 30px;
}
/*FIN NOTICIAS*/


/*WIDGET MAPA*/
#widget_punto_a_punto > div > div.actions > div.search.open, #widget_punto_a_punto > div > div.actions > div.search.close {
  margin: 15px 0 20px;
}
#widget_punto_a_punto > div > div.actions > div.search.close {
  position: absolute;
  width: 343px;
  max-width: 100%;
  right: 0;
  bottom: -80px;
}

.pap_widget .actions {
  position: static !important;
}

#widget_punto_a_punto.expanded {
  min-height: 664px !important;
}

#widget_punto_a_punto.expanded .map {
  height: 457px !important;
}

#widget_punto_a_punto .map {
  height: 396px !important  ;
}

#widget_punto_a_punto .left, #widget_punto_a_punto.expanded .left{
  height: 609px !important;
}

#widget_punto_a_punto.expanded .right{
  height: 609px !important;
}

.pap_widget.expanded .mapwrapper {
  padding-right: 10px;
}

#widget_punto_a_punto > div > div.right > h3 {
  font-family: Gotham, Helvetica, Arial, sans-serif !important;
  color: black !important;
  font-weight: normal !important;
  font-size: 16px !important;
}

#recorridos > li > div.label {
  width: 60%;
  background: none;
  text-shadow: none;
  color: black;
  text-align: left !important;
  font-size: 15px !important;
  padding: 0;
  float: left;
  line-height: 12px;
}

#widget_punto_a_punto .recorridos {
  margin-bottom: 0;
  height: 542px !important;
}
.pap_widget .recorridos .recorrido {
  height: 46px;
  padding: 8px 15px;
  background-position: center bottom !important;
}
.pap_widget .recorridos .recorrido:hover,
.pap_widget .recorridos .recorrido:focus {
  background-color: #f3f8fd !important;
}
.pap_widget .recorridos .recorrido .references {
  float: right;
  padding-top: 4px;
}
.pap_widget .recorridos .recorrido .pill {
  height: 30px;
}
.pap_widget .recorridos .recorrido .circlePill {
  height: 29px;
  line-height: 18px;
}
.pap_widget .recorridos .recorrido .references .color {
  vertical-align: middle;
}

#widget_punto_a_punto.expanded .pap_widget .recorridos .recorrido {
  padding: 10px !important;
}

#widget_punto_a_punto.expanded .pap_widget .recorridos {
  font-size: 15px;
}

#widget_punto_a_punto.expanded #ejemplo{
  display:none;
}

#widget_punto_a_punto.expanded #widget_punto_a_punto-map{
  background-color: white !important;
}

#widget_punto_a_punto.expanded #OpenLayers\.Map_2_OpenLayers_ViewPort{
  top:20px !important;
  height:77% !important;
  background-color: white !important;
}

/*.pap_widget .actions .search a{
  text-decoration: none !important;
  color: #969696 !important;
  text-transform: lowercase !important;
  font-size: 14px !important;
  letter-spacing: -0.5px !important;
  font-weight: normal !important;
}

.pap_widget .actions .search.open {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}*/
.pap_widget .left .search{
  width: 100% !important;
  float: none !important;
  padding-bottom: 0 !important;
  height: auto !important;
}
.pap_widget label{
  display: block;
}
.pap_widget span#ejemplo {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.pap_widget input#search-value,
.pap_widget select#search-value-dest {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#widget_punto_a_punto .right, #widget-embed.expanded .right {
  width:300px !important;
}
/*FIN WIDGET MAPA*/


/*PAGER EN BUSQUEDAS Y NOTICIAS*/
.pager {
  border: none;
  padding-top: 0px;
  margin-top: 0px;
  width:auto;
}
.list-group-item .list-thumb p, .list-group-item .list-thumb h4{
  margin-right:27px;
}
body > div.main-container.container > div > section > div > section > div{
  position:relative!important;
}
div.navSearch{
  position:relative!important;
}
.input-group{
  width: 100%;
}
.page-sidebar .glyphicon-chevron-down, .page-sidebar .glyphicon-chevron-up, .btn-sm{
  font-size: 12px !important;
}
/*FIN PAGER EN BUSQUEDAS Y NOTICIAS*/


aside h2 {
  margin-top:35px;
}

section .form-tramite ul{
  margin:0;
  padding:0;
  margin:0 10px 0 10px;
  text-align: left;
  list-style-position: inside;
}

section .form-tramite li{
  margin-bottom: 5px;
  font-size: 15px;
}

/* Para sacar esto hay que modificar los estilos en buenosaires.css para que no use input-sm */
.ba-home .navbar-form input {
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  line-height: 32px;
}

.list-group-multi .list-thumb.original-size > div {
  height:87px;
  width:100%;
}

@media (max-width: 995px) {
.list-group-multi.masinfociudad .list-thumb > div {
  height: 165px !important;
}
}

.panel-pane pane-entity-field pane-node-field-date .fecha{
  float:right;
}

/* Descarga de archivos */
.descarga_lateral{
  font-size: 14px;
}

/* CHAT 147 */

#agentbot-chat-main{
  max-width: 930px !important;
  width:960px !important;
}

#chat-embebbed #agentbot-chat-main{
  max-width: 700px !important;
  width:960px !important;
}

#agentbot-chat-feedback #agentbot-feedback-send, #agentbot-chat-feedback #agentbot-feedback-email {
  top:30px;
}

body.agentbot #agentbot-chat-footer{
  background: none !important;
  bottom: -9px !important;
}

body.agentbot #chat-embebbed #agentbot-chat-feedback {
  width: 325px !important;
}

body.agentbot #agentbot-chat-feedback {
  height: 58px !important;
  width: 100% !important;
  background: #A5CD39;
  text-align: left;
  font-family: Helvetica, Arial;
  font-size: 10px;
  color: #000;
  padding: 5px 0 0 10px;
  position: absolute;
  bottom: 0px;
}

/* Esconde el tab del chat 147 en mobile */
.mobile-chat {
  display: none;
}

@media (max-width: 780px) {
  .mobile-chat {
    display: block;
  }
  .col-buttons ul.menu.nav.navbar-nav {
    float: none;
  }
  .col-buttons ul.menu.nav.navbar-nav:after {
    clear: none;
  }
}
@media (max-width: 767px) {
  /*#agentbot-tab {
    display: none !important;
  }*/
  .col-buttons ul.menu.nav.navbar-nav:first-of-type {
    margin-bottom: 0;
  }
  .col-buttons ul.menu.nav.navbar-nav:last-of-type {
    margin-top: 0;
  }
}

/* PORQUE EL BLOQUE DE REDES SE VE PEGADO EN PÁGINAS Y QUIZÁS EN ALGÚN OTRO CONTENIDO*/
.borde-debajo{
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 32px;
  margin-bottom: 40px;
}

/* ====================================== */
/* HOT FIX PARA WIDGET DE MAPA EN SIDEBAR */
/* =======================================*/

#widget_punto_a_punto.expanded .wrapper {
    left: auto !important;
    width: 617px !important;
    right: 0 !important;
}
#widget_punto_a_punto.expanded .left {
  width: 305px !important;
}
#widget_punto_a_punto.expanded.no_results .left {
  width: 605px !important;
}
