/*
* Este CSS maneja todo lo relacionado con los tags de noticias
* ej: buenosaires.gob.ar/tags/salud
*/

.card-tags{
    margin-bottom:3em;
    position:relative;
    background-color:#F2F2EF;
    cursor:pointer;
    line-height:0;
    min-height: 250px;
}

.card-tags .views-field.views-field-field-image{
    width:20vw;
    display:inline-block;
}

.card-tags .views-field-created,
.card-tags .views-field-title{
    display:inline-block;
    position:absolute;
    margin-left:32px;
}

.card-tags .views-field-created{
    top:25px;
    margin-bottom:20px;
    font-size:0.7em;
}

.card-tags .views-field-title{
    top:calc(0px + 2em + 25px);
    font-family: "CHANEWEI",Helvetica,Arial,sans-serif;
    margin-right:20px;
    line-height:1.5em;
}

.card-tags .views-field-title a{
    text-decoration:none;
    font-size:1.2em;
    color:#333 !important;
    font-weight:500;
    font-family: "CHANEWEI",Helvetica,Arial,sans-serif;
}


/**
* CSS de nube de tags que aparece al costado de los agrupadores de tags
*/

.tagclouds-term a{
    text-decoration:none;
    color:#333 !important;
    font-family: "CHANEWEI",Helvetica,Arial,sans-serif;
    font-size:0.8em !important;
    display:inline-block;
    padding:2px 4px;
    margin-right:10px;
    margin-bottom:10px;
    background-color:#F2F2EF;
}

/**
* CSS de tags del home
*/

.tags-noticias{
    padding:0;
    height:initial !important;
}

.tags-noticias ul,
.tags-detalle-noticia ul{
    list-style-type:none;
    padding:0;
}

.tags-noticias ul{
    margin-bottom:0;
}

.tags-noticias ul li a,
.tags-detalle-noticia ul li a{
    text-decoration:none;
    color:#888 !important;
    font-family: "OpenSans-bold", Helvetica, Arial, sans-serif !important;
    font-weight:700;
    font-size:12px !important;
    display:inline-block;
    padding:2px 4px;
    margin-right:10px;
    background-color:#F2F2EF;
}

.tags-noticias ul li a:hover,
.tags-detalle-noticia ul li a:hover{
    text-decoration:underline !important;
}

.tags-noticias ul li a:hover{
    color:#333 !important;
}

.tags-noticias ul li,
.tags-detalle-noticia ul li{
    display: inline-block;
    margin-top:10px;
}

.noticia-container.noticia-lg{
    padding-right:0 !important;
}

.noticia-lg .img-responsive{
    position:relative;
    right:3%;
    max-width:110%;
    width:auto !important;
}

@media only screen and (max-width: 740px){
    .card-tags .views-field-created,
    .card-tags .views-field-title{
        position:initial;
        display:block;
        margin-left:15px;
        margin-bottom:10px;
        margin-top:10px;
    }
    .card-tags{
        padding-bottom:15px;
        line-height:initial;
    }

    .card-tags .views-field.views-field-field-image{
        width:100%;
    }
}
